{% extends "base.html" %}

<!-- head tag의 타이틀 -->
{% block title %}솔레 미오{% endblock %}

    <!-- 페이지 콘텐츠 영역  -->
    {% block container %}
    <p>이름 | 제목 | 작성날짜</p>
    <ul>
    <!-- views.py : CBV 방식으로 정의할 경우 -->
    <!-- templates 으로 넘겨지는 테이블 데이터 객체 변수는 -->
    <!-- 디폴트로 object_list 또는 클래스명_list -->

    <!-- {{ object_list }} -->
    <!-- {{article_list}}     -->
    {% for article in article_list %}
        <li>
            <a href="/creative/view_detail/{{article.id}}">{{article.name}}</a> |
            {{article.title}} | 
            {{article.email}} |
            {{article.cdate|date:"Y년 M d일 D"}}
        </li>
    {% endfor %}
    </ul>    
    <!-- <form action="" method="post">
        <table>
            {{form}} {% csrf_token %}
        </table>
        <button type="submit" onclick="/community/write">작성하기</button>
    </form> -->
    <!-- [문제] login 사용자만 아래 버튼이 보이도록 -->
    <a href="/creative/write/"><input type="button" value="메모 작성하기"></a>
    {% endblock %}